h1,
h2 {
  font-weight: 700;
}

:root {
  --bs-body-bg: #fafafb;
  --bs-body-bg-rgb: 250, 250, 251;
  --pc-heading-color: #343a40;
  --pc-active-background: #e9ecef;
  --pc-sidebar-background: #fff;
  --pc-sidebar-color: #141414;
  --pc-sidebar-color-rgb: 20, 20, 20;
  --pc-sidebar-active-color: var(--bs-primary);
  --pc-sidebar-shadow: 1px 0 0 0px rgb(240 240 240);
  --pc-sidebar-caption-color: #495057;
  --pc-header-background: #fff;
  --pc-header-color: #141414;
  --pc-header-shadow: 0 1px 0 0px rgb(240 240 240);
  --pc-card-box-shadow: none;
  --pc-header-submenu-background: #ffffff;
  --pc-header-submenu-color: #6c757d;
}

[data-pc-theme_contrast=true] {
  --bs-body-bg: #ffffff;
  --pc-sidebar-background: transparent;
  --pc-sidebar-active-color: #1890ff;
  --pc-sidebar-shadow: 1px 0 3px 0px #dee2e6;
  --pc-sidebar-border: none;
  --pc-card-box-shadow: 0px 8px 24px rgba(27, 46, 94, 0.08);
}

section {
  padding: 100px 0;
}

.landing-page {
  overflow-x: hidden;
  background: #fafafb;
}
@media (min-width: 1600px) {
  .landing-page .container {
    max-width: 1200px;
  }
}

.navbar {
  position: fixed;
  padding: 16px 0;
  width: 100%;
  background: transparent;
  z-index: 1099;
  top: 0;
}
.navbar.top-nav-collapse.default {
  background: transparent;
  box-shadow: none;
}
.navbar.default,
.navbar.top-nav-collapse {
    background: #141414;
    box-shadow: 0 8px 6px -10px rgba(0, 0, 0, 0.5);
}

header {
  overflow: hidden;
  position: relative;
  padding: 100px 0;
  display: flex;
  align-items: center;
  min-height: 100vh;
  background: #141414;
}
header::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 2;
    background: linear-gradient(
        329.36deg,
        rgb(0, 0, 0) 14.79%,
        rgba(67, 67, 67, 0.28) 64.86%
    );
}
header .container {
  position: relative;
  z-index: 5;
}

@media (max-width: 991.98px) {
  section {
    padding: 40px 0;
  }
}
@media (max-width: 767.98px) {
  header {
    text-align: center;
    padding: 100px 0 50px;
  }
}
